<!-- set global theme from daisy ui -->
<html data-theme="halloween">
  <!-- HEAD -->
  <head>
    <link
      rel="shortcut icon"
      href="../assets/favicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"
      defer
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"
      defer
    ></script>
  </head>

  <!-- BODY -->
  <body id="body" class="h-screen max-w-4/5 md:max-w-2/4 mx-auto">
    <!-- NAVBAR -->
    <div class="h-[12.5vh] navbar bg-base-100 shadow-sm">
      <div class="flex-1">
        <a class="btn btn-ghost text-4xl">Hexbook</a>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
          <li><a>Link</a></li>
          <li>
            <details>
              <summary>Parent</summary>
              <ul class="bg-base-100 rounded-t-none p-2">
                <li><a>Link 1</a></li>
                <li><a>Link 2</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    </div>

    <!-- MAIN -->
    <main class="h-[78vh] border-1">
      <form
        class="flex flex-col flex-nowrap justify-center items-center h-[100%] gap-6"
        hx-post="/api/qrcode"
        hx-include="#wallet"
        hx-target="#qrcode"
      >
        <fieldset class="fieldset px-6">
          <legend class="fieldset-legend text-center text-2xl">
            Enter your wallet address
          </legend>
          <input
            id="wallet"
            name="wallet"
            type="text"
            class="input-lg"
            placeholder="0xD2e203cd5df6756EeE316493F702249423adCae7"
            required
          />
          <p class="label">evm only for now</p>
          <div class="my-2 mx-auto text-center">
            Your QR code shows up below
            <div
              id="qrcode"
              class="h-[256px] w-[256px] border-1 rounded-md"
            ></div>
          </div>
          <button class="btn btn-primary" type="submit">Convert</button>
        </fieldset>
      </form>
    </main>

    <!-- FOOTER -->
    <footer
      class="h-fit border-1 footer sm:footer-horizontal bg-neutral text-neutral-content items-center p-4"
    >
      <aside class="grid-flow-col items-center justify-self-center">
        <a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="fill-current"
          >
            <path
              d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
            ></path>
          </svg>
        </a>
        <p>Copyright © 2025 - All right reserved</p>
      </aside>
    </footer>
  </body>
</html>
