<!DOCTYPE html>
<!-- set global theme from daisy ui -->
<html lang="en" data-theme="halloween">
  <!-- HEAD -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hexbook</title>

    <link
      rel="shortcut icon"
      href="../assets/favicon.png"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"
      defer
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"
      defer
    ></script>
  </head>

  <!-- BODY -->
  <body
    id="body"
    class="h-screen w-full max-w-9/10 sm:max-w-5/6 md:max-w-4/6 md:max-w-3/6 xl:max-w-2/6 mx-auto"
  >
    <!-- NAVBAR -->
    <div class="h-[12.5vh] navbar bg-base-100 shadow-sm">
      <div class="flex items-center flex-1">
        <img src="../assets/favicon.png" width="50" height="50" alt="github" />
        <a class="btn btn-ghost text-4xl -ml-2">Hexbook</a>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
          <li>
            <details>
              <summary>Supported Wallets</summary>
              <ul class="bg-base-200 rounded-t-none p-2">
                <li>
                  <a>
                    <img
                      src="../assets/metamask.svg"
                      width="25"
                      height="25"
                      alt="github"
                    />
                    Metamask
                  </a>
                </li>
                <li>
                  <a>
                    <img
                      src="../assets/trust.svg"
                      width="25"
                      height="25"
                      alt="github"
                    />
                    Trust Wallet
                  </a>
                </li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    </div>

    <!-- MAIN -->
    <main class="h-[78vh] border-1 rounded-md">
      <form
        class="flex flex-col flex-nowrap justify-center items-center h-[100%] gap-6"
        hx-post="/api/qrcode"
        hx-include="#wallet"
        hx-target="#qrcode"
      >
        <fieldset class="fieldset px-6">
          <legend class="fieldset-legend text-center text-2xl">
            Enter your wallet address
          </legend>
          <input
            id="wallet"
            name="wallet"
            type="text"
            class="input-lg p-1 rounded-md"
            placeholder="0xD2e203cd5df6756EeE316493F702249423adCae7"
            required
          />
          <p class="label">evm only for now</p>
          <div class="my-2 mx-auto text-center">
            Your QR code shows up below
            <div
              id="qrcode"
              class="h-[256px] w-[256px] border-1 rounded-md"
            ></div>
          </div>
          <button class="btn btn-primary" type="submit">Convert</button>
        </fieldset>
      </form>
    </main>

    <!-- FOOTER -->
    <footer
      class="h-fit border-1 rounded-md footer sm:footer-horizontal bg-neutral text-neutral-content items-center p-4"
    >
      <aside class="grid-flow-col items-center justify-self-center">
        <a href="https://github.com/developerasun/hexbook" target="_blank">
          <img
            src="../assets/github-mark-white.png"
            width="25"
            height="25"
            alt="github"
          />
        </a>
        <p>Copyright © 2025 - All right reserved</p>
      </aside>
    </footer>
  </body>
</html>
